---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="DataSaaSLab">
  <section>
    <h1>DataSaaSLab</h1>
    <p>Accueil du blog bilingue.</p>
    <ul>
      <li><a href="/fr/blog">/fr/blog</a></li>
      <li><a href="/en/blog">/en/blog</a></li>
    </ul>
  </section>
</BaseLayout>
